{% extends "base.html" %}

{% block title %}
商品登録
{% endblock %}

{% block content %}

<h2 class="mb-4">商品登録</h2>

<div class="card shadow-sm">

    <div class="card-body">

        <div class="mb-3">

            <label class="form-label">
                商品名
            </label>

            <input
                type="text"
                class="form-control"
                placeholder="商品名"
            >

        </div>


        <div class="mb-3">

            <label class="form-label">
                カテゴリ
            </label>

            <select class="form-select">

                <option>選択してください</option>
                <option>食品</option>
                <option>飲料</option>
                <option>日用品</option>

            </select>

        </div>


        <div class="mb-3">

            <label class="form-label">
                価格
            </label>

            <input
                type="number"
                class="form-control"
                placeholder="価格"
            >

        </div>


        <div class="mb-3">

            <label class="form-label">
                在庫数
            </label>

            <input
                type="number"
                class="form-control"
                placeholder="在庫数"
            >

        </div>


        <div class="mb-3">

            <label class="form-label">
                商品説明
            </label>

            <textarea
                class="form-control"
                rows="5"
            ></textarea>

        </div>


        <div class="mt-4">

            <a
                href="{{ url_for('products') }}"
                class="btn btn-secondary"
            >
                戻る
            </a>

            <a
                href="{{ url_for('products') }}"
                class="btn btn-primary"
            >
                登録
            </a>

        </div>

    </div>

</div>

{% endblock %}

git config --global user.name "mizumuraren"  
git config --global user.email ren20070213@gmail.com